@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.unAuthPages{
    background-image: url('./assets/backsilk.jpg');
    background-size: 100em;
    min-height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
}

@media (max-width: 768px) {
    .unAuthPages{
        background-image: url('./assets/backsilk.jpg');
        background-size: 100em;
        min-height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        align-items: center;
    }

}