@media (max-width: 768px) {
    #placeholderImage{
        width: 70vw !important;
        height: 40vw !important;
    }
    .previewImage{
        width: 70vw !important;
        height: 40vw !important;
        display: flex !important;
    }
}

#placeholderImage{
    width: 40vw;
    height: 20vw;
    border: 2px dashed darkgray;
    background-color: lightgrey;
    position: relative;
    text-align: center;
    margin-bottom: 4vh;
}
.previewImage{
    width: auto;
    height: 23vw;
    object-fit: scale-down;
    border: 1rem solid rgba(255, 255, 255, 0.918);
    position: relative;
    text-align: center;
    margin-bottom: 4vh;
}
#myfile{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
#imagePicker{
    width: 3vw;
    height: 3vw;
}
#imagePicker:visited{
    width: 3vw;
    height: 3vw;
    color: yellow;
}
.imagePreviewGallery{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#uploadButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    font-weight: 100;
    cursor: pointer;
    border: 1px solid rgb(121, 41, 78);
    background-color: rgb(121, 41, 78);
    border-radius: 0.25rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;;
    font-family: Raleway;
    font-weight: lighter !important;
    text-transform: uppercase;
    transition: font-size 0.1s ease-in;
    -webkit-transition: font-size 0.1s ease-in;
    -o-transition: font-size 0.1s ease-in;
    -moz-transition: font-size 0.1s ease-in;
}
#uploadButton:hover{
    font-size: 3.2vw;
}
#addMoreImagesButton{
    font-size: 3vw;
    padding-right: 0.25rem;
}
.imagePickerGroup{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#addImageButton{
    border: 1px solid rgb(121, 41, 78);
    border-radius: 0.25rem;
    color: rgb(121, 41, 78);
    align-self: center;
    padding: 0.3rem;
    display: inline-block;
    text-transform: none;
    align-self: center;
    transition: background-color 0.1s ease-in;
    -webkit-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
}
#addImageButton:hover{
    color: white;
    background-color: rgb(121, 41, 78);
}
[customshow='hide']{
    opacity: 0.4;
}