.minimisedRow{
    width: 100%;
    background-color: rgb(241, 235, 235);
    color: black;
    display: block;
    padding: 0.5rem 0.25rem 0.25rem 0.5rem;
    animation: fadein 0.8s ease-in;
    -moz-animation: fadein 0.8s ease-in;
    -webkit-animation: fadein 0.8s ease-in;
    -o-animation: fadein 0.8s ease-in;
}

.expandButton:active{
    animation: fadein 0.8s ease-in;
    -moz-animation: fadein 0.8s ease-in;
    -webkit-animation: fadein 0.8s ease-in;
    -o-animation: fadein 0.8s ease-in;
}

@keyframes fadein{
    from {opacity: 0;}
    to { opacity: 1;}
}
.eventDescriptionMinimised{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 0 !important;
    overflow: none;
}
.trailingDescription{
    color: black;
    font-size: 20px;
    text-align: left;
    overflow: hidden;
    text-transform: none;
}

#saveEventButton{
    margin-top: 1rem;
}
.expandButton:hover, .closeButton:hover{
    color: white;
    animation-delay: 2s;
}
.link{
    cursor: pointer;
    text-decoration: underline !important;
    font-size: small;
}