#firstHeading{
    font-size: 50px;
    font-family: PlaylistScript;
    color: rgb(121,41,79);
    text-align: left;
}
.headings{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-right: 1em;
    
}
.mandala{
    width: 32vw;
    height: 32vw;
}
.mandala:hover{
    // width: 32.1em;
    // height: 32.1em;
    // .mandalaAni{
    //  fill: rgb(121,41,79);}
     .mandalaAni {
        fill: white;
        stroke-dasharray: 3000;
        stroke-dashoffset: 3000;
        animation: dash 5s ease-in forwards;
    }
}



@keyframes dash {
    from {
    stroke-dashoffset: 3000;
    }
    to {
    stroke-dashoffset: 0;
    }
}
#intromessage1{
    text-transform: none !important;
    font-size: medium;
    color: black;
    text-align: left;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 1em;
    margin-right: 1em;
}
.card1{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.2em;
    width: 25em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-right: 1em;
    // max-width: 50%;
    // margin-top:1em;

}
@media (max-width: 768px) {
    img{
        display: none
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #firstHeading{
        text-align: center;
    }
    #intromessage1{
        text-align: center;
    }
    .headings{
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 100%;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
        
    }
    .image{
        display: none;
    }

}
img{
    width: auto;
    height: 30em;
    border-radius: 0.2em;
    opacity: 1;
}
img:hover{
     width: auto;
    height: 30em;
    opacity: 0.4;
}

#header-home{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 6em;
}
.home-button{
    color: rgb(121,41,79);
}
.homeContainer{
    // background-color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-size: 100em;
    min-height: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center; 
}