#firstHeading{
    font-size: 50px;
    font-family: PlaylistScript;
    color: rgb(121,41,79);
    text-align: left;
}
.headings{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-right: 1em;
    
}
.home-button:hover{
    padding: 0.2em;
    
}
.home-button{
    color: rgb(121,41,79);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3vw;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 19vw;
    border-top: 1px solid #E88873;
    border-bottom: 1px solid #E88873;
    transition: padding 0.2s linear;
}
.mandala{
    width: 32vw;
    height: 32vw;
}
.mandala:hover, .mandala:active{
     .mandalaAni {
        fill: white;
        stroke-dasharray: 3000;
        stroke-dashoffset: 3000;
        animation: dash 2s ease-in forwards;
    }
}



@keyframes dash {
    to {
    stroke-dashoffset: 0;
    fill: rgb(121,41,79);
    }
}
#intromessage1{
    text-transform: none !important;
    font-size: medium;
    color: black;
    text-align: left;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.card1{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.2em;
    width: 25em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    position: relative;
    align-items: center;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;

}
@media (max-width: 768px) {
    img{
        display: none
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #firstHeading{
        text-align: center;
    }
    #intromessage1{
        text-align: center;
    }
    .headings{
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 100%;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
        
    }
    .image{
        display: none;
    }

}

#header-home{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 4vw;
    margin-right: 1vw;
}

.homeContainer{
    // background-color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    // background-size: 100em;
    // min-height: 100vw;
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
    // align-items: center; 
}
.elephant{
    width: 55vw;
    height: auto;
}