.viewPage{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#filterSearchButton{
    width: 40vw;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    background-color: rgb(241, 235, 235);
    border: 1px solid rgb(241, 235, 235);
    text-align-last: center;
    text-align: center;
}
#filterSearchButton:hover, #filterSearchButton.active{
    background-color: rgb(121,41,79);
    border: 1px solid rgb(121,41,79);
    color: white;
}
.checkboxLabel{
    color: black !important;
}
.filterBlock{
    display: flex;
    width: 80vw;
    margin-left: 1vw;
    flex-direction: column;
}
#filterForm{
    width: 80vw;
    margin-left: 10vw;
}

#collapsibleFilter{
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;  
    background: #f1ebeb;
    overflow: hidden;
    max-height: 0;
}
#collapsibleFilter.show{
    max-height: 40vh;

}
.filterRow{
    display: flex;
    flex-wrap: wrap;
}
.filterTitle{
    text-align: left;
    border-bottom: 0.05rem solid black;
}
.checkBox{
    margin-right: 1rem
}
input[type="checkbox"]{
    margin-right: 0.375rem;
}
input[type="checkbox"]{
    margin-right: 0.375rem;
}
input[type="checkbox"]:checked + label:before {
    background: #fff !important;
    color: #333 !important;
    text-align: center;
}
.filterButton{
    width: 70vw;
    box-shadow: 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem
}
.sareeGallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.previewImage{
    width: auto;
    height: 23vw;
    object-fit: scale-down;
    border: 1rem solid rgba(255, 255, 255, 0.918);
    position: relative;
    text-align: center;
    margin-bottom: 4vh;
}