@import '~pretty-checkbox/src/pretty-checkbox.scss';
.viewPage{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    overflow-y: auto;
    height: 100vh;
    scroll-behavior: smooth;
    position: relative
}
@media (max-width: 768px){
.previewImage {
    width: auto !important;
    height: 55vh !important;
}
.sareeGallery{
    flex-direction: column !important;
    align-content: center !important;
}
}
#filterSearchButton{
    width: 40vw;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    background-color: rgb(241, 235, 235);
    border: 1px solid rgb(241, 235, 235);
    text-align-last: center;
    text-align: center;
}
#filterSearchButton:hover, #filterSearchButton.active, .viewItem:hover{
    background-color: rgb(121,41,79);
    border: 1px solid rgb(121,41,79);
    color: white;
}

.checkboxLabel{
    color: black !important;
}
.filterBlock{
    display: flex;
    width: 80vw;
    margin-left: 1vw;
    flex-direction: column;
}
#filterForm{
    width: 80vw;
    // margin-left: 10vw;
}
.formPosition{
    display: flex;
    justify-content: center;
}
#collapsibleFilter{
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;  
    background: #f1ebeb;
    overflow: hidden;
    max-height: 0;
}
#collapsibleFilter.show{
    max-height: 100vh;

}
.filterRow{
    display: flex;
    flex-wrap: wrap;
}
.filterTitle{
    text-align: left;
    border-bottom: 0.05rem solid black;
}
.checkBox{
    margin-right: 1rem
}
input[type="checkbox"]:checked + label:before {
    color: #333 !important;
    text-align: center;
}
#filterButton{
    width: 70vw;
    box-shadow: 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
.sareeGallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.sareeGallery.loading{
    opacity: 0.4;
}
.previewImage{
    width: auto;
    height: 50vh;
    object-fit: scale-down;
    border: 1rem solid rgba(255, 255, 255, 0.918);
    position: relative;
    text-align: center;
    margin-bottom: 0 !important;
    animation: fadein 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: fadein 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-animation: fadein 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-animation: fadein 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#placeholder{
    background-color: rgb(241, 235, 235);
}

@keyframes fadein{
    from {
        opacity: 0;
        transform: translateY(-2vh)}
    to { 
        opacity: 1;
    }
}

.sareeItem{
    width: fit-content;
    cursor: pointer;
}
.sareeItem:hover{
    .previewImage{
        opacity: 0.7;
    }
    .viewItem{
        visibility: visible;
        opacity: 1 !important;
    }
}
.viewItem{
    visibility: hidden;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    background-color: rgb(241, 235, 235);
    border: 1px solid rgb(241, 235, 235);
    text-align-last: center;
    text-align: center;
}
.sareeDescription{
    height: fit-content;
    margin-bottom: 0.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}
#purchase{
    letter-spacing: normal;
    text-transform: initial;
}
.boxes {
    margin: auto;
    padding: 50px;
    background: #484848;
  }

  input[type="checkbox"] { display: none; }
  input[type="radio"] {display: none}
  
label.checkboxLabel::before{
    border-color: gray !important;
}
.pretty.p-default input:checked ~ .state label:after{
    background-color: rgb(121,41,79) !important
}
.lotus{
    animation: pulse 2s infinite;
    width: 10vw;
    height: 10vw;
    position: absolute;
}
@keyframes pulse{
    0%{
        fill: rgb(241, 235, 235);
    }
    50%{
        fill: rgb(121,41,79)
    }
    100%{
        fill: rgb(241, 235, 235);
    }
}
.lotusWrapper{
    display: flex;
    justify-content: center !important;
}
#scrollUpBox{
    display: flex;
    justify-content: center !important;
    font-size: small;
    flex-direction: row;
    width: 20vw;
    position: fixed;
    margin: 0.5rem;
    bottom: 20px;
    cursor: pointer;
    border-radius: 15rem;
    animation: fadein 1s linear;
    -moz-animation: fadein 1s linear;
    -webkit-animation: fadein 1s linear;
    -o-animation: fadein 1s linear;
}
#scrollButton:hover{
    animation: moveLeft 1s ease-in;
    -moz-animation: moveLeft 1s linear;
    -webkit-animation: moveLeft 1s linear;
    -o-animation: moveLeft 1s linear;
}
@keyframes moveLeft{
    10%{
        transform: translateY(2px)
    }
    30%{
        transform: translateY(-10px)
    }
    50%{
        transform: translateY(10px)
    }
    70%{
        transform: translateY(-5px)
    }
    80%{
        transform: translateY(-5px)
    }
    100%{
        transform: translateY(0px)
    }
}
.scrollText{
    font-size: small;
    color: black;
    padding-top: 0.5rem;
    display: none;
}
.viewDescBox{
    // background-color: #E88873;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
#viewHeading{
    font-family: 'Raleway', 'sans-serif';
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}
#viewDesc{
    font-size: small;
    color: black;
    text-transform: initial;
    text-align: center;
}
.embellishedBox{
    background-color: rgb(241, 235, 235);
}