.viewPage{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#filterSearchButton{
    width: 40vw;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    background-color: rgb(241, 235, 235);
    border: 1px solid rgb(241, 235, 235);
    text-align-last: center;
    text-align: center;
}
#filterSearchButton:hover, #filterSearchButton.active, .viewItem:hover{
    background-color: rgb(121,41,79);
    border: 1px solid rgb(121,41,79);
    color: white;
}

.checkboxLabel{
    color: black !important;
}
.filterBlock{
    display: flex;
    width: 80vw;
    margin-left: 1vw;
    flex-direction: column;
}
#filterForm{
    width: 80vw;
    margin-left: 10vw;
}

#collapsibleFilter{
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;  
    background: #f1ebeb;
    overflow: hidden;
    max-height: 0;
}
#collapsibleFilter.show{
    max-height: 100vh;

}
.filterRow{
    display: flex;
    flex-wrap: wrap;
}
.filterTitle{
    text-align: left;
    border-bottom: 0.05rem solid black;
}
.checkBox{
    margin-right: 1rem
}
input[type="checkbox"]:checked + label:before {
    color: #333 !important;
    text-align: center;
}
#filterButton{
    width: 70vw;
    box-shadow: 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
.sareeGallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.previewImage{
    width: auto;
    height: 35vw;
    object-fit: scale-down;
    border: 1rem solid rgba(255, 255, 255, 0.918);
    position: relative;
    text-align: center;
    margin-bottom: 0 !important;
}
.sareeItem{
    width: fit-content;
    cursor: pointer;
}
.sareeItem:hover{
    .previewImage{
        opacity: 0.7;
    }
    .viewItem{
        visibility: visible;
        opacity: 1 !important;
    }
}
.viewItem{
    visibility: hidden;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    background-color: rgb(241, 235, 235);
    border: 1px solid rgb(241, 235, 235);
    text-align-last: center;
    text-align: center;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}
.mandalaSpinner {
    animation: spin 5s linear infinite;
    width: 32vw;
    height: 32vw;

}
.boxes {
    margin: auto;
    padding: 50px;
    background: #484848;
  }
  
  /*Checkboxes styles from CodePen 
Custom checkbox
Valery*/
  input[type="checkbox"] { display: none; }
  
  input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  input[type="checkbox"] + label:last-child { margin-bottom: 0; }
  
  input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(121,41,79);
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color 0.5s;
    transition: all .12s, border-color 0.5s;
  }
  
  input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }