label{
    color: black;
}
.form{
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 768px) {
    .form{
        flex-direction: column;
    }
    .leftAdd, .rightAdd{
        width: 90vw !important;
        margin-left: 4vw !important;
        margin-right: 1vw !important;
    }
    .eventTop{
        width: 100vw !important;
    }
    .dropdown{
        width: 40vw !important;
    }
}
.leftAdd{
    width: 45vw;
    justify-content: left;
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    margin-right: 1vw;
}
.rightAdd{
    width: 45vw;
    justify-content: right;
    display: flex;
    flex-direction: column;
    margin-right: 4vw;
    margin-left: 1vw;
}
#addHeading{
    font-size: 50px;
    font-family: PlaylistScript;
    color: rgb(121,41,79);
    text-align: left;
}
.leftField{
    font-family: Raleway;
    font-size: 20px;
    color:black;
    text-transform: none;
    text-align: left;
}
.addSubHeading{
    font-family: PlaylistScript;
    color: rgb(121,41,79);
    text-align: left;
    font-size: 25px;
}
.addSubHeading{
    font-size: 40px;

}
.eventCheck{
    justify-self: left;
    font-family: Raleway;
    margin-bottom: 1vw;
}
.btn-secondary{
    background-color: transparent;
    border-color: rgb(121,41,79);
    color: rgb(121,41,79) !important;
    font-family: Raleway;
}
#historyAddButton{
    margin-top: 0.5rem;
}
.firstActive{
    background-color: rgb(121,41,79) !important;
    border-color: rgb(121,41,79);
    color: white !important;
}
.btn-secondary:hover, .btn-secondary:focus{
    background-color: rgb(121,41,79);
    border-color: rgb(121,41,79);
    color: white !important
}
.eventTop{
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
}
.split{
    width: 50vw;
    display: flex;
    flex-direction: column;
}
.customDate{
    font-size: medium;
    border-radius: 0.25rem;
    border: 1px solid rgb(121,41,79);
    margin-top: 0px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
}
#blouseCheck{
    width: 22vw;
}

.dropdown{
    font-family: Raleway;
    width: 20vw;
    padding: 0vw;
}
#exampleFormControlSelect1{
    border-radius: 0.25rem;
    border: 1px solid rgb(121,41,79);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
}
.descriptionText{
    font-family: Raleway;
    color: black !important;
    text-transform: none;
    font-size: 15px;
    text-align: left;
}
.form-control{
    border: 1px solid rgb(121,41,79);
    font-family: Raleway;
}
.addContainer{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.lastWornEvent{
    margin-bottom: 2vw;
}
#modalButton{
    float: right;
    font-family: Raleway;
    font-weight: bold;
}
.sareeType{
    display: flex;
    flex-direction: column;
}
[type="submit"]{
    margin-top: 4vw;
    background-color: rgb(121,41,79);
    border: 1px solid rgb(121,41,79);
    color: white;
    font-family: Raleway;
}
[type="submit"]:hover,[type="submit"]:active, [type="submit"]:focus{
    margin-top: 4vw;
    background-color: transparent;
    color: rgb(121,41,79);
    border: 1px solid rgb(121,41,79);
    font-family: Raleway;
}
#noImageError{
    border: 1px solid rgb(249,61,92);
    color: white;
    background-color: rgb(249,61,92);
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
#imageErrorMessage{
    text-transform: none;
    font-weight: bold;
    font-size: medium;
}