#customNavBar{
    background-color: transparent !important;
}
#logo-image{
    width: 50px;
    height:auto;
}

.navbar-brand{
    font-weight: 800;
    color: rgb(39, 39, 46);
}
.btn-outline-primary{
    color: black;
    font-weight: 600;
    text-emphasis-color: black;
    background-color: transparent;
    border-color: transparent;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
}
#logo-image{
    max-width: 100px;
    max-height: 100px;
  }
.btn-outline-primary:hover, .btn-outline-primary:active{
    color: rgb(121,41,79);
    font-weight: 600;
    text-emphasis-color: white;
    background-color: white;
    border-color: transparent;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.w-100{
    justify-content: space-between;
}

.mr-auto{
    justify-content: space-evenly;
}
